.about {
  &__header {
    height: 40vh;
  }
  &__img {
    width: auto;
    height: 50vh;
    margin-left: 13rem;
    margin-right: 6rem;
    object-fit: cover;
  }
}
.about__container {
  display: flex;
  min-height: 65vh;
  align-items: center;
  &-text {
    font-size: 2rem;
  }
}
