@import "./abstracts/variables";
@import "./abstracts/mixins";

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 40%
    ),
    url("../img/book.jpg");

  background-size: cover;
  background-position-y: 50%;
  border-radius: 3px;

  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url("../img/portfolio.jpg");
  }

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 0%,
        rgba($color-white, 0.8) 100%
      ),
      url("../img/portfolio.jpg");
  }

  &__form {
    padding: 6rem;
    width: 50%;
    @include respond(tab-land) {
      width: 65%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
