@import "./abstracts/variables";
@import "./abstracts/mixins";

.home {
  position: relative;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  background-color: #493b3b;
  background-image: url("../img/header.jpg");
  background-size: cover;

  &__header {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 200;
    align-self: center;
    color: #2a1209;
  }

  &__arrows {
    width: 100px;
    height: 7rem;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 101;
    justify-self: center;
    position: absolute;
    // left: 50%;
    // margin-left: -3rem;
    top: 47vh;
    opacity: 0.7;

    &--invisible {
      display: none;
    }
  }

  &__arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  &__arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
  }

  &__arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
  }

  &__arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
  }
}

/* begin Up-Down button  */

.sidebar__arrows {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 50%;
  margin-left: -3rem;
  bottom: 0;
  opacity: 0.5;
}

.up_down_btn {
  position: fixed;
  bottom: 8rem;
  right: 4rem;
  z-index: 9999;
  width: 6rem;
  height: 6rem;
  text-align: center;
  line-height: 4rem;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  display: none;
  font-size: 2rem;
}

.up_down_btn:hover {
  text-decoration: none;
}

.up_down_btn-show {
  display: block;
}
.up_down_btn-up {
  transform: scale(1, -1);
}

.up_down_btn-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

/* end Up-Down button  */
